<style>
  header {
    color: red;
    font-size: 100px;
  }

  body {
    background-color: green;
  }
</style>

<!DOCTYPE html>
<html>
  <header> MusicApp
  </header>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<% if logged_in? %>
  <h1> Welcome, <%= current_user.email %> </h1>

    <form action="<%= session_url %>" method="post">
      <input type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">

        <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Log Out">
    </form>

<% else %>
    <a href="<%= new_session_url %>">Log In</a>
<% end %>


  <body>
    <%= yield %>
  </body>
</html>
